---
import Layout from "../../pages/layouts/Layout.astro";
import Hero from "../Hero.astro";
import Testimonials from "../Testimonials.astro";
import CTA from "../CTA.astro";
import AsideCards from "../AsideCards.astro";

export interface Props {
    title: string,
    description: string,
    bgImg: string,
    heading: string,
    tagline: string,
    mainHeading: string,
}

const { title, description, bgImg, heading, tagline, mainHeading } = Astro.props;
---

<Layout title={`${title} | Lindleys Autocentres`} description={description} noindex={false}>
    <Hero bgImg={bgImg} heading={heading} tagline={tagline}/>
    <main class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <h1 class="text-center text-lg-start">{mainHeading}</h1>
                    <slot />
                </div>
                <div class="col-12 col-lg-4">
                    <AsideCards />
                </div>
            </div>
        </div>
    </main>
    <Testimonials />
    <CTA />
</Layout>