---
const tyreServicesUrl = "/tyre-services/";
const otherServicesUrl = "/other-services/"

const tyreServicesPages = [
    {slug: "mobile-tyre-fitting", title:"Mobile Tyre Fitting"}, 
    {slug: "same-day-mobile-tyre-fitting", title: "Same Day Mobile Tyre Fitting"},
    {slug: "mobile-caravan-tyre-fitting", title: "Mobile Caravan Tyre Fitting"},
    {slug: "mobile-tyre-repair", title: "Mobile Tyre Repair"},
    ]

const otherServicesPages = [
    {slug: "locking-wheel-nut-removal", title: "Locking Wheel Nut Removal"},
    {slug: "batteries", title: "Batteries"},
    {slug: "tpms", title: "TPMS"},
]
---

<footer class="mt-auto bg-light text-dark pt-5 pb-3">
    <div class="container d-grid">
        <div class="row">
            <div class="col-12 row pb-4">
                <div
                class="col-12 col-lg-3 d-flex justify-content-center justify-content-lg-start align-items-center align-items-lg-start"
            >
                    <div>
                        <a href="/">
                            <img
                                src="/img/logo.png"
                                alt="Lindleys Logo"
                                class="mb-4 mb-lg-2"
                                width="200" 
                                height="52"
                            />
                        </a>
                    </div>
                </div>
                <div class="col-12 col-lg-3 text-center text-lg-start">
                    <p class="fw-bold mb-0 fs-5">Tyre Services</p>
                    <ul class="no-bullet-points">
                        {tyreServicesPages.map(page => (
                            <li><a href={`${tyreServicesUrl}${page.slug}`}>{page.title}</a></li>
                        ))}
                    </ul>
                </div>
                <div class="col-12 col-lg-3 text-center text-lg-start">
                    <p class="fs-5 mb-0 fw-bold">Services</p>
                    <ul class="no-bullet-points">
                        {otherServicesPages.map(page => (
                            <li><a href={`${otherServicesUrl}${page.slug}`}>{page.title}</a></li>
                        ))}
                    </ul>
                </div>
                <div class="col-12 col-lg-3 text-center text-lg-start">
                    <div>
                        <p class="fw-bold mb-0 fs-5">Get In Touch</p>
                        <p class="fs-4">
                            <i class="bi bi-telephone-fill"></i>
                            <span class="fw-bold"
                                ><a href="tel:08007311260" class="social-link"
                                    >0115 727 0767</a
                                ></span
                            >
                        </p>
                    </div>
                    <div>
                        <p class="fw-bold mb-0 fs-5">Follow Us</p>
                        <div
                            class="d-flex fs-4 justify-content-center justify-content-lg-start"
                        >
                            <p>
                                <a
                                    href="#"
                                    target="_blank"
                                    class="social-link"
                                    aria-label="Facebook"
                                    ><i class="bi bi-facebook"></i
                                ></a>
                            </p>
                            <p>
                                <a
                                    href="#"
                                    target="_blank"
                                    class="social-link"
                                    aria-label="YouTube"
                                    ><i class="bi mx-3 bi-youtube"></i
                                ></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="col-12 text-muted text-small">
                <ul class="d-flex flex-column align-items-center flex-lg-row justify-content-center no-bullet-points">
                    <li class="mx-3"><a href="/terms-and-conditions">Terms & Conditions</a></li>
                    <li class="mx-3"><a href="/cookie-policy">Cookie Policy</a></li>
                    <li class="mx-3"><a href="/privacy-policy">Privacy Policy</a></li>
                    <li class="mx-3"><a href="/site-map">Site Map</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<style>

    footer li a {
        color: #212529;
        text-decoration: none;
    }

    footer li a:hover {
        color: skyblue;
    }

    .social-link {
        color: #212529;
        text-decoration: none;
    }

    .social-link:hover {
        color: skyblue;
    }

    .no-bullet-points {
        list-style: none;
        padding-left: 0px;
    }

    .service a {
        color: #212529;
        text-decoration: none;
    }
</style>